In [11]:
import pandas as pd

In [33]:
customers=pd.read_csv('customers.csv')
customers

,customer_id,customer_name,segment,zip_code,region,country,city,state,contact_number
0,AA-10315,Alex Avila,Consumer,55407,Central,United States,minneapolis,minnesota,582-262-8228
1,AA-10375,Allen Armold,Consumer,94109,West,United States,san francisco,california,505-671-1025
2,AA-10480,Andrew Allen,Consumer,94122,West,United States,san francisco,california,248-294-9683
3,AA-10645,Anna Andreadi,Consumer,78664,Central,United States,round rock,texas,582-282-8675
4,AB-10015,Aaron Bergman,Consumer,10011,East,United States,new york city,new york,505-559-3741
...,...,...,...,...,...,...,...,...,...
788,TW-21025,Tamara Willingham,Home Office,90004,West,United States,los angeles,california,02128388643
789,VF-21715,Vicky Freymann,Home Office,73120,Central,United States,oklahoma city,oklahoma,04242171893
790,VM-21685,Valerie Mitchum,Home Office,46350,Central,United States,la porte,indiana,02179141784
791,VP-21730,Victor Preis,Home Office,98105,West,United States,seattle,washington,05056622772
792,VT-21700,Valerie Takahito,Home Office,42301,South,United States,owensboro,kentucky,05825291731

In [35]:
products=pd.read_csv('products.csv')
products

,product_id,product_name,colors,category,sub_category,date_added,manufacturer,sizes,upc,weight,product_photos_qty,Unnamed: 11
0,FUR-BO-10000330,"Sauder Camden County Barrister Bookcase, Plank...",Blue,Furniture,Bookcases,2016-03-30,NaN,NaN,NaN,NaN,3,NaN
1,FUR-BO-10000362,Sauder Inglewood Library Bookcases,Blue,Furniture,Bookcases,2015-08-17,2(x)ist,NaN,NaN,NaN,6,NaN
2,FUR-BO-10000468,O'Sullivan 2-Shelf Heavy-Duty Bookcases,Black,Furniture,Bookcases,2016-01-15,NaN,22,NaN,NaN,4,NaN
3,FUR-BO-10000711,"Hon Metal Bookcases, Gray",Blue,Furniture,Bookcases,2016-08-23,NaN,NaN,NaN,NaN,2,NaN
4,FUR-BO-10000780,O'Sullivan Plantations 2-Door Library in Landv...,Pink,Furniture,Bookcases,2016-01-14,NaN,NaN,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1769,TEC-PH-10004912,Cisco SPA112 2 Port Phone Adapter,Blue,Technology,Phones,2017-01-12,Ellie Shoes Inc,NaN,8.43E+11,NaN,3,NaN
1770,TEC-PH-10004922,RCA Visys Integrated PBX 8-Line Router,Black,Technology,Phones,2016-01-01,NaN,NaN,6.08E+11,NaN,0,NaN
1771,TEC-PH-10004924,"SKILCRAFT Telephone Shoulder Rest, 2"" x 6.5"" x...",Blue,Technology,Phones,2015-12-02,NaN,NaN,NaN,NaN,0,NaN
1772,TEC-PH-10004959,Classic Ivory AntiqueÂ TelephoneÂ ZL1810,Blue,Technology,Phones,2016-11-15,Laredo,7,NaN,NaN,3,NaN
1773,TEC-PH-10004977,GE 30524EE4,Pink,Technology,Phones,2016-10-05,Kenneth Cole Reaction,NaN,8.88E+11,NaN,1,NaN

In [34]:
orders=pd.read_csv('orders.csv')
orders

,order_id,customer_id,ship_mode,vendor_id,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,CA-2014-101147,NaN,First Class,VEN02,delivered,16-12-2017 22:28,2017-12-16 22:38,2017-12-19 20:32,2017-12-27 18:03,2018-01-18
1,CA-2014-101476,SD-20485,First Class,VEN04,delivered,23-01-2017 13:40,2017-01-25 02:50,2017-01-26 11:26,2017-01-30 08:42,2017-02-28
2,CA-2014-101602,NaN,First Class,VEN05,delivered,17-05-2017 21:10,2017-05-17 21:22,2017-05-19 10:42,2017-05-24 11:07,2017-06-08
3,CA-2014-101931,TS-21370,First Class,VEN03,delivered,22-10-2017 14:25,2017-10-22 14:49,2017-10-23 18:50,2017-10-27 21:23,2017-11-10
4,CA-2014-103058,AG-10270,First Class,VEN01,delivered,30-01-2018 11:03,2018-01-30 11:15,2018-02-05 15:44,2018-02-21 17:53,2018-03-13
...,...,...,...,...,...,...,...,...,...,...
5010,US-2017-167570,EG-13900,Standard Class,VEN01,delivered,02-08-2018 12:32,2018-08-02 13:23,2018-08-03 12:20,2018-08-07 21:04,2018-08-17
5011,US-2017-168613,GM-14440,Standard Class,VEN05,delivered,20-09-2017 22:48,2017-09-22 04:16,2017-09-22 20:59,2017-09-28 16:02,2017-10-16
5012,US-2017-168690,TS-21085,Standard Class,VEN04,delivered,04-02-2018 19:45,2018-02-06 03:48,2018-02-08 21:19,2018-02-20 21:59,2018-03-20
5013,US-2017-168802,JO-15145,Standard Class,VEN03,delivered,09-03-2017 08:47,2017-03-09 08:47,2017-03-09 14:01,2017-03-17 04:14,2017-03-31
5014,US-2017-169502,MG-17650,Standard Class,VEN05,delivered,08-04-2018 23:05,2018-04-09 08:30,2018-04-10 17:03,2018-04-21 16:21,2018-05-02

In [36]:
transactions=pd.read_csv('transactions.csv')
transactions

,id,order_id,product_id,sales_amt,qty,discount,profit_amt
0,2698,CA-2014-145317,FUR-BO-10001798,261.9600,2,0.000,41.9136
1,6827,CA-2016-118689,FUR-CH-10000454,731.9400,3,0.000,219.5820
2,8154,CA-2017-140151,OFF-LA-10000240,14.6200,2,0.000,6.8714
3,2624,CA-2017-127180,FUR-TA-10000577,957.5775,5,0.450,-383.0310
4,4191,CA-2017-166709,OFF-ST-10000760,22.3680,2,0.200,2.5164
...,...,...,...,...,...,...,...
9814,2107,US-2014-152723,FUR-FU-10001889,25.2480,3,0.200,4.1028
9815,4712,CA-2014-112403,FUR-FU-10000747,91.9600,2,0.000,15.6332
9816,8659,CA-2016-168361,TEC-PH-10003645,258.5760,2,0.200,19.3932
9817,9293,CA-2017-124114,OFF-PA-10004041,29.6000,4,0.000,13.3200
9818,4102,US-2017-102288,OFF-AP-10002684,2.0000,0,72.948,NaN

### How many unique customers present in the database?

In [40]:
print(customers['customer_id'].nunique())

793

### TOTAL NO OF ORDERS OF EACH CUSTOMER

In [41]:
customer_orders = orders.groupby('customer_id',as_index=False)['order_id'].count().sort_values(by = 'order_id',ascending = False)
pd.set_option('display.max_rows',None)
print(customer_orders)

    customer_id  order_id
276    EP-13915        17
130    CC-12220        14
693    SH-19975        13
578    NS-18640        13
357    JE-15745        13
593    PG-18820        13
246    EA-14035        13
147    CK-12205        13
793    ZC-21910        13
425    KD-16495        12
655    RP-19390        12
599    PK-19075        12
211    DK-12835        12
625    RB-19465        12
436    KL-16645        12
258    EH-13765        12
99     BP-11095        12
323    HG-14965        12
34     AH-10690        12
696    SJ-20125        12
704    SM-20950        12
67     BD-11320        12
418    KB-16585        12
152    CL-12565        12
453    LC-16885        12
295    GB-14530        11
312    GT-14710        11
149    CK-12595        11
92     BM-11650        11
366    JG-15160        11
789    WB-21850        11
294    GA-14725        11
680    SC-20725        11
82     BF-11170        11
245    Dp-13240        11
790    XP-21865        11
527    MM-17920        11
388    JL-15835        11
363    JF-15490        11
350    JD-15895        11
177    CS-12355        11
176    CS-12250        11
173    CS-11950        11
449    LA-16780        11
484    MA-17560        11
731    SZ-20035        11
685    SE-20110        11
551    MY-18295        11
604    PO-18850        11
193    DB-13210        10
248    EB-13750        10
132    CC-12430        10
722    SV-20365        10
711    SP-20860        10
250    EB-13870        10
665    SA-20830        10
446    KT-16480        10
694    SH-20395        10
432    KH-16630        10
93     BM-11785        10
125    CB-12025        10
538    MS-17365        10
679    SC-20695        10
383    JK-16120        10
615    PW-19030        10
341    JB-15400        10
608    PP-18955        10
26     AG-10900        10
44     AP-10915        10
290    FO-14305        10
499    ME-17320        10
306    GM-14500        10
356    JE-15715        10
329    HM-14860        10
571    NM-18520        10
396    JM-16195        10
35     AI-10855        10
287    FM-14215        10
788    VW-21775        10
284    FH-14275        10
486    MB-17305        10
633    RD-19585        10
6      AB-10105        10
59     AT-10735        10
635    RD-19720        10
381    JK-15730        10
28     AH-10075        10
402    JP-16135         9
178    CS-12400         9
688    SF-20965         9
687    SF-20200         9
637    RD-19900         9
606    PO-19180         9
347    JC-15775         9
441    KN-16390         9
709    SP-20620         9
594    PG-18895         9
710    SP-20650         9
150    CK-12760         9
581    ON-18715         9
380    JK-15640         9
580    NZ-18565         9
546    MV-17485         9
1      AA-10375         9
315    GZ-14470         9
184    CV-12805         9
684    SD-20485         9
560    ND-18370         9
541    MS-17770         9
262    EH-14125         9
508    MG-17890         9
416    KB-16315         9
279    ES-14080         9
247    EB-13705         9
288    FM-14290         9
237    DS-13180         9
663    RW-19630         9
234    DR-12880         9
289    FM-14380         9
233    DP-13390         9
230    DP-13000         9
228    DO-13435         9
298    GG-14650         9
216    DK-13225         9
670    SC-20050         9
299    GH-14410         9
671    SC-20095         9
303    GK-14620         9
675    SC-20380         9
555    NB-18655         9
200    DC-12850         9
620    RA-19915         9
618    RA-19285         9
617    QJ-19255         9
457    LC-17140         9
397    JO-15145         9
748    TD-20995         9
723    SV-20785         9
536    MP-18175         9
474    LS-16975         9
463    LH-16900         9
535    MP-17965         9
31     AH-10210         9
495    MC-18100         9
66     BC-11125         9
529    MM-18280         9
9      AB-10255         9
517    MH-18115         9
740    TB-21520         9
465    LH-17155         9
122    CA-12265         9
521    ML-17395         9
758    TP-21130         9
742    TB-21625         9
52     AS-10090         9
746    TC-21475         9
133    CC-12475         9
65     BB-11545         9
101    BP-11185         9
88     BH-11710         8
745    TC-21295         8
519    MK-17905         8
438    KM-16375         8
218    DL-12865         8
217    DK-13375         8
340    JA-15970         8
209    DJ-13510         8
641    RF-19345         8
269    EM-13825         8
643    RF-19840         8
435    KL-16555         8
673    SC-20260         8
291    FP-14320         8
41     AM-10705         8
220    DL-13315         8
222    DL-13495         8
256    ED-13885         8
656    RP-19855         8
755    TM-21010         8
772    TT-21220         8
479    LT-17110         8
427    KE-16420         8
259    EH-13945         8
660    RS-19765         8
429    KH-16330         8
327    HK-14890         8
753    TH-21235         8
80     BF-11020         8
235    DR-12940         8
528    MM-18055         8
611    PS-18970         8
231    DP-13105         8
85     BG-11035         8
649    RL-19615         8
225    DM-13345         8
334    HW-14935         8
603    PN-18775         8
624    RB-19435         8
194    DB-13270         8
636    RD-19810         8
492    MC-17605         8
165    CP-12085         8
632    RD-19480         8
286    FH-14365         8
118    BW-11110         8
586    PB-19150         8
8      AB-10165         8
451    LB-16795         8
452    LC-16870         8
725    SV-20935         8
50     AR-10825         8
126    CB-12415         8
127    CB-12535         8
378    JK-15370         8
146    CJ-12010         8
454    LC-16930         8
714    SR-20740         8
293    GA-14515         8
715    SS-20140         8
5      AB-10060         8
792    YS-21880         8
513    MH-17455         8
166    CP-12340         8
629    RB-19795         8
364    JF-15565         8
15     AD-10180         8
22     AG-10495         8
43     AP-10720         8
353    JD-16150         8
500    ME-17725         8
189    DB-12910         8
532    MO-17800         8
488    MC-17275         8
186    CY-12745         8
440    KM-16720         8
318    HA-14920         8
690    SG-20470         8
182    CT-11995         8
596    PJ-18835         8
443    KN-16705         8
304    GM-14440         7
317    HA-14905         7
564    NF-18595         7
38     AJ-10945         7
567    NH-18610         7
562    NF-18385         7
412    JW-15955         7
568    NK-18490         7
494    MC-17845         7
771    TT-21070         7
769    TS-21610         7
619    RA-19885         7
314    GW-14605         7
136    CC-12670         7
616    PW-19240         7
395    JM-15865         7
518    MJ-17740         7
597    PJ-19015         7
355    JE-15610         7
782    VM-21685         7
359    JF-15190         7
515    MH-17785         7
16     AF-10870         7
785    VP-21760         7
321    HF-14995         7
12     AC-10450         7
392    JM-15535         7
575    NP-18700         7
371    JH-15910         7
579    NW-18400         7
504    MG-17650         7
379    JK-15625         7
24     AG-10675         7
497    MD-17350         7
605    PO-18865         7
343    JB-16000         7
37     AJ-10795         7
36     AJ-10780         7
324    HG-15025         7
570    NM-18445         7
612    PS-19045         7
774    TT-21460         7
775    TW-21025         7
331    HP-14815         7
333    HR-14830         7
401    JP-15520         7
337    IL-15100         7
414    KA-16525         7
339    IM-15070         7
29     AH-10120         7
27     AH-10030         7
400    JP-15460         7
558    NC-18535         7
51     AS-10045         7
739    TB-21400         7
103    BP-11290         7
681    SC-20770         7
191    DB-13060         7
470    LP-17095         7
197    DB-13555         7
198    DB-13615         7
199    DB-13660         7
676    SC-20440         7
747    TC-21535         7
674    SC-20305         7
490    MC-17575         7
668    SB-20290         7
433    KH-16690         7
223    DM-12955         7
224    DM-13015         7
686    SF-20065         7
534    MP-17470         7
229    DO-13645         7
108    BS-11755         7
135    CC-12610         7
721    SU-20665         7
129    CC-12145         7
124    CA-12775         7
547    MV-18190         7
461    LF-17185         7
706    SN-20710         7
548    MW-18220         7
550    MY-17380         7
726    SW-20245         7
700    SL-20155         7
445    KT-16465         7
115    BT-11680         7
729    SW-20455         7
736    TB-21250         7
227    DN-13690         7
214    DK-13090         7
431    KH-16510         7
70     BD-11605         7
764    TS-21205         7
55     AS-10240         7
415    KB-16240         7
282    FC-14335         7
281    FC-14245         7
280    FA-14230         7
57     AS-10630         7
487    MB-18085         7
61     AW-10930         7
642    RF-19735         7
419    KB-16600         7
483    LW-17215         7
261    EH-14005         7
720    ST-20530         7
192    DB-13120         7
757    TN-21040         7
428    KF-16285         7
523    ML-17755         7
78     BF-10975         7
754    TH-21550         7
653    RO-19780         7
662    RW-19540         7
243    DW-13585         7
390    JM-15250         6
389    JL-15850         6
411    JW-15220         6
572    NP-18325         6
430    KH-16360         6
473    LS-16945         6
540    MS-17710         6
544    MT-17815         6
475    LS-17200         6
543    MS-17980         6
491    MC-17590         6
522    ML-17410         6
410    JS-16030         6
574    NP-18685         6
557    NC-18415         6
530    MN-17935         6
561    ND-18460         6
553    MZ-17515         6
485    MA-17995         6
466    LL-16840         6
481    LW-16990         6
477    LS-17245         6
437    KM-16225         6
471    LR-16915         6
424    KD-16345         6
384    JL-15130         6
398    JO-15280         6
420    KC-16255         6
253    EB-14110         6
511    MH-17290         6
172    CS-11860         6
707    SO-20335         6
157    CM-12160         6
158    CM-12190         6
705    SN-20560         6
162    CM-12655         6
583    PA-19060         6
68     BD-11500         6
697    SJ-20215         6
691    SG-20605         6
154    CM-11815         6
181    CS-12505         6
185    CW-11905         6
678    SC-20680         6
202    DD-13570         6
206    DH-13075         6
63     AZ-10750         6
219    DL-12925         6
667    SB-20185         6
708    SP-20545         6
712    SP-20920         6
240    DW-13195         6
111    BT-11395         6
87     BG-11740         6
89     BK-11260         6
91     BM-11575         6
83     BF-11215         6
100    BP-11155         6
106    BS-11590         6
77     BE-11455         6
737    TB-21280         6
74     BD-11770         6
71     BD-11620         6
727    SW-20275         6
119    BW-11200         6
120    CA-11965         6
128    CC-12100         6
73     BD-11725         6
718    SS-20590         6
716    SS-20410         6
142    CG-12040         6
763    TS-21160         6
239    DV-13465         6
58     AT-10435         6
354    JE-15475         6
778    VD-21670         6
623    RB-19360         6
780    VG-21790         6
328    HL-15040         6
610    PS-18760         6
18     AG-10270         6
351    JD-16015         6
361    JF-15355         6
305    GM-14455         6
362    JF-15415         6
367    JG-15310         6
368    JG-15805         6
370    JH-15820         6
372    JH-15985         6
591    PF-19165         6
3      AA-10645         6
307    GM-14680         6
777    VB-21745         6
645    RH-19510         6
766    TS-21370         6
658    RR-19525         6
254    EB-14170         6
56     AS-10285         6
650    RM-19375         6
260    EH-13990         6
263    EH-14185         6
768    TS-21505         6
86     BG-11695         6
630    RC-19825         6
273    EM-14140         6
631    RC-19960         6
48     AR-10540         6
283    FG-14260         6
781    VG-21805         5
751    TH-21100         5
749    TG-21310         5
761    TR-21325         5
791    YC-21895         5
779    VF-21715         5
783    VM-21835         5
759    TP-21415         5
765    TS-21340         5
767    TS-21430         5
516    MH-18025         5
770    TS-21655         5
582    OT-18730         5
743    TC-20980         5
741    TB-21595         5
576    NR-18550         5
592    PF-19225         5
573    NP-18670         5
600    PL-18925         5
607    PO-19195         5
609    PR-18880         5
614    PV-18985         5
621    RA-19945         5
566    NG-18430         5
565    NG-18355         5
626    RB-19570         5
627    RB-19645         5
634    RD-19660         5
640    RE-19450         5
644    RH-19495         5
559    NC-18625         5
651    RM-19675         5
659    RS-19420         5
664    RW-19690         5
556    NC-18340         5
669    SC-20020         5
677    SC-20575         5
698    SJ-20500         5
713    SR-20425         5
719    SS-20875         5
733    TB-21055         5
738    TB-21355         5
702    SM-20320         5
0      AA-10315         5
507    MG-17875         5
270    EM-13960         5
201    DC-13285         5
203    DE-13255         5
205    DG-13300         5
212    DK-12895         5
213    DK-12985         5
238    DV-13045         5
241    DW-13480         5
242    DW-13540         5
244    Dl-13600         5
249    EB-13840         5
251    EB-13930         5
257    EG-13900         5
265    EJ-14155         5
268    EM-13810         5
278    ES-14020         5
393    JM-15580         5
296    GB-14575         5
322    HG-14845         5
326    HJ-14875         5
332    HR-14770         5
335    HZ-14950         5
344    JB-16045         5
348    JC-16105         5
349    JD-15790         5
360    JF-15295         5
374    JJ-15445         5
376    JK-15205         5
385    JL-15175         5
386    JL-15235         5
387    JL-15505         5
195    DB-13360         5
190    DB-12970         5
187    Co-12640         5
183    CV-12295         5
7      AB-10150         5
13     AC-10615         5
14     AC-10660         5
20     AG-10330         5
21     AG-10390         5
32     AH-10465         5
40     AM-10360         5
46     AR-10405         5
47     AR-10510         5
54     AS-10225         5
64     BB-10990         5
75     BE-11335         5
76     BE-11410         5
96     BO-11350         5
98     BP-11050         5
104    BS-11365         5
105    BS-11380         5
110    BT-11305         5
114    BT-11530         5
116    BV-11245         5
121    CA-12055         5
131    CC-12370         5
138    CD-11920         5
141    CD-12790         5
148    CK-12325         5
153    CL-12700         5
159    CM-12235         5
171    CS-11845         5
175    CS-12175         5
391    JM-15265         5
255    EC-14050         5
394    JM-15655         5
467    LM-17065         5
423    KD-16270         5
426    KD-16615         5
439    KM-16660         5
442    KN-16450         5
447    KW-16435         5
456    LC-17050         5
399    JO-15550         5
468    LO-17170         5
408    JS-15880         5
472    LR-17035         5
480    LW-16825         5
489    MC-17425         5
496    MC-18130         5
498    MD-17860         5
502    MF-17665         5
503    MF-18250         5
409    JS-15940         5
460    LE-16810         5
794    ZD-21925         5
405    JR-16210         5
196    DB-13405         4
169    CR-12730         4
537    MR-17545         4
174    CS-12130         4
501    ME-18010         4
180    CS-12490         4
539    MS-17530         4
188    DA-13450         4
45     AR-10345         4
682    SC-20800         4
459    LD-17005         4
542    MS-17830         4
545    MT-18070         4
701    SM-20005         4
207    DH-13675         4
752    TH-21115         4
672    SC-20230         4
455    LC-16960         4
221    DL-13330         4
33     AH-10585         4
236    DS-13030         4
448    KW-16570         4
577    NS-18505         4
776    TZ-21580         4
588    PC-18745         4
30     AH-10195         4
167    CR-12580         4
163    CM-12715         4
25     AG-10765         4
732    TA-21385         4
750    TG-21640         4
90     BM-11140         4
94     BN-11470         4
95     BN-11515         4
79     BF-11005         4
102    BP-11230         4
493    MC-17635         4
526    MM-17260         4
569    NL-18310         4
735    TB-21190         4
734    TB-21175         4
112    BT-11440         4
520    MK-18160         4
160    CM-12385         4
724    SV-20815         4
123    CA-12310         4
531    MO-17500         4
137    CC-12685         4
469    LP-17080         4
760    TP-21565         4
62     AY-10555         4
151    CL-11890         4
585    PB-19105         4
60     AW-10840         4
156    CM-12115         4
464    LH-17020         4
552    MZ-17335         4
208    DJ-13420         4
654    RP-19270         4
345    JC-15340         4
272    EM-14095         4
275    EN-13780         4
320    HE-14800         4
285    FH-14350         4
422    KC-16675         4
297    GD-14590         4
336    IG-15085         4
628    RB-19705         4
300    GH-14425         4
512    MH-17440         4
786    VS-21820         4
252    EB-13975         4
413    JW-16075         4
330    HM-14980         4
613    PT-19090         4
313    GT-14755         4
316    GZ-14545         4
10     AB-10600         4
421    KC-16540         4
638    RD-19930         4
369    JH-15430         4
590    PF-19120         4
509    MG-18145         4
406    JS-15595         4
602    PM-19135         4
505    MG-17680         4
2      AA-10480         4
266    EK-13795         4
264    EJ-13720         4
514    MH-17620         4
407    JS-15685         4
19     AG-10300         4
17     AF-10885         4
373    JH-16180         4
23     AG-10525         4
271    EM-14065         4
476    LS-17230         3
352    JD-16060         3
417    KB-16405         3
84     BF-11275         3
117    BW-11065         3
139    CD-11980         3
134    CC-12550         3
4      AB-10015         3
728    SW-20350         3
478    LT-16765         3
72     BD-11635         3
563    NF-18475         3
482    LW-17125         3
601    PM-18940         3
338    IM-15055         3
342    JB-15925         3
377    JK-15325         3
365    JG-15115         3
756    TM-21490         3
107    BS-11665         3
524    ML-18040         3
717    SS-20515         3
382    JK-16090         3
319    HD-14785         3
210    DJ-13630         3
292    FW-14395         3
277    ER-13855         3
274    EM-14200         3
784    VP-21730         3
39     AJ-10960         3
204    DF-13135         3
450    LB-16735         3
143    CG-12520         3
773    TT-21265         3
666    SB-20170         3
226    DM-13525         3
647    RH-19600         3
648    RK-19300         3
444    KS-16300         3
689    SG-20080         3
462    LH-16750         3
692    SG-20890         3
308    GM-14695         3
144    CH-12070         3
584    PB-18805         3
311    GT-14635         3
11     AC-10420         3
506    MG-17695         3
170    CR-12820         3
161    CM-12445         3
699    SK-19990         3
168    CR-12625         3
358    JE-16165         3
81     BF-11080         3
53     AS-10135         2
787    VT-21700         2
403    JR-15670         2
69     BD-11560         2
762    TS-21085         2
695    SH-20635         2
232    DP-13165         2
683    SC-20845         2
267    EL-13735         2
646    RH-19555         2
554    NB-18580         2
302    GH-14665         2
589    PC-19000         2
657    RR-19315         2
549    MW-18235         2
661    RS-19870         2
97     BO-11425         2
215    DK-13150         2
587    PB-19210         2
309    GP-14740         2
622    RB-19330         2

### TOP 10 CUSTOMER

In [22]:
B = Customer_Orders.customer_id
C = B.head(10)
print("Top 10 customers are:")
print(C)

Top 10 customers are:
276    EP-13915
130    CC-12220
693    SH-19975
578    NS-18640
357    JE-15745
593    PG-18820
246    EA-14035
147    CK-12205
793    ZC-21910
425    KD-16495
Name: customer_id, dtype: object

### TOP 5 CUSTOMER ID & NAME EACH SEGMENT

In [21]:
top_5 = pd.merge(customers,Customer_Orders,on = "customer_id", how = "inner")
X = top_5.sort_values(by="order_id",ascending = False).head(5)
X[["customer_id","segment"]]

    customer_id    segment
136    EP-13915   Consumer
64     CC-12220   Consumer
617    SH-19975  Corporate
486    EA-14035  Corporate
75     CK-12205   Consumer

### TOTAL NO OF ORDERS OF EACH YEAR

In [23]:
orders['year']=pd.to_datetime(orders['order_purchase_date']).dt.year
orders.groupby(['year'])['order_id'].count()

year
2016      17
2017    2244
2018    2754
Name: order_id, dtype: int64

### TOTAL NO OF ORDERS OF MONTH-YEAR WISE

In [24]:
orders['month_year']=pd.to_datetime(orders['order_purchase_date']).dt.to_period('M')
orders.groupby(['month_year'])['order_id'].count()

month_year
2016-03      1
2016-04      4
2016-05      1
2016-06      2
2016-07      4
2016-08      2
2016-09      1
2016-10      2
2017-01    116
2017-02    103
2017-03    143
2017-04    157
2017-05    189
2017-06    182
2017-07    200
2017-08    186
2017-09    193
2017-10    211
2017-11    371
2017-12    193
2018-01    331
2018-02    272
2018-03    353
2018-04    308
2018-05    254
2018-06    271
2018-07    329
2018-08    256
2018-09     97
2018-10     91
2018-11     92
2018-12    100
Freq: M, Name: order_id, dtype: int64

### TOTAL NO OF ORDERS EACH DAY OF WEEK

In [25]:
orders['week']=pd.to_datetime(orders['order_purchase_date']).dt.weekday
orders.groupby(['week'])['order_id'].count()

week
0    806
1    755
2    775
3    756
4    703
5    538
6    682
Name: order_id, dtype: int64

### Difference between the delivered date and Estimate date

In [26]:
orders['diff']=(pd.to_datetime(orders['order_estimated_delivery_date']))-(pd.to_datetime(orders['order_delivered_customer_date']))
orders[['order_id','order_estimated_delivery_date','order_delivered_customer_date','diff']]

,order_id,order_estimated_delivery_date,order_delivered_customer_date,diff
0,CA-2014-101147,2018-01-18,2017-12-27 18:03,21 days 05:57:00
1,CA-2014-101476,2017-02-28,2017-01-30 08:42,28 days 15:18:00
2,CA-2014-101602,2017-06-08,2017-05-24 11:07,14 days 12:53:00
3,CA-2014-101931,2017-11-10,2017-10-27 21:23,13 days 02:37:00
4,CA-2014-103058,2018-03-13,2018-02-21 17:53,19 days 06:07:00
...,...,...,...,...
5010,US-2017-167570,2018-08-17,2018-08-07 21:04,9 days 02:56:00
5011,US-2017-168613,2017-10-16,2017-09-28 16:02,17 days 07:58:00
5012,US-2017-168690,2018-03-20,2018-02-20 21:59,27 days 02:01:00
5013,US-2017-168802,2017-03-31,2017-03-17 04:14,13 days 19:46:00
5014,US-2017-169502,2018-05-02,2018-04-21 16:21,10 days 07:39:00

### TOTAL SALES AMOUNT OF EACH CUSTOMER

In [27]:
oc= pd.merge(orders, customers, on='customer_id', how='inner')
oct = pd.merge(oc, transactions, how='inner', on='order_id')
oct.groupby('customer_id')['sales_amt'].sum()

customer_id
AA-10315     5329.3680
AA-10375    13555.5040
AA-10480     3700.0280
AA-10645     2394.0495
AB-10015      144.2940
               ...
XP-21865     4198.9380
YC-21895     3086.6080
YS-21880     2974.8780
ZC-21910     6415.9180
ZD-21925     1114.5450
Name: sales_amt, Length: 793, dtype: float64

### TOTAL SALES AMOUNT MONTH-YEAR WISE

In [28]:
oct['my1']=pd.to_datetime(oct['order_purchase_date']).dt.strftime('%m-%y')
print(oct['my1'])

0       01-17
1       07-17
2       07-17
3       03-17
4       03-17
        ...
9808    09-17
9809    03-18
9810    03-18
9811    03-18
9812    02-18
Name: my1, Length: 9813, dtype: object

### TOTAL PROFIT MONTH-YEAR WISE

In [29]:
oct.groupby('my1')['profit_amt'].sum()

my1
01-17     7286.6783
01-18    15322.7419
02-17     5638.8068
02-18    13519.8325
03-16        9.4815
03-17     7748.1525
03-18    27485.2706
04-16       36.1958
04-17    11162.4439
04-18    10294.4692
05-16       -4.0128
05-17     9988.3779
05-18    18598.4512
06-16      -53.3716
06-17     7112.0999
06-18    12731.9574
07-16     1262.1860
07-17     5826.9137
07-18    14558.5471
08-16      146.0202
08-17    23526.4327
08-18    20928.8508
09-16        4.1448
09-17     6652.2903
09-18     2974.2350
10-16      166.1436
10-17     8792.0921
10-18     3958.8103
11-17    21356.7123
11-18     6259.8271
12-17     9823.0898
12-18     2874.4914
Name: profit_amt, dtype: float64

### TOTAL COUNT OF PRODUCT SALE OF EACH CATEGORY

In [30]:
octp = pd.merge(oct, products, how='inner', on='product_id')
octp.head()

,order_id,customer_id,ship_mode,vendor_id,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,...,colors,category,sub_category,date_added,manufacturer,sizes,upc,weight,product_photos_qty,Unnamed: 11
0,CA-2014-101476,SD-20485,First Class,VEN04,delivered,23-01-2017 13:40,2017-01-25 02:50,2017-01-26 11:26,2017-01-30 08:42,2017-02-28,...,Black,Furniture,Furnishings,2016-02-21,NaN,NaN,http://www.walmart.com/ip/LaCrosse-Work-Lite-D...,NaN,2,NaN
1,CA-2016-130400,SJ-20125,Standard Class,VEN04,delivered,07-08-2018 17:27,2018-08-08 03:10,2018-08-08 15:33,2018-08-14 21:28,2018-08-16,...,Black,Furniture,Furnishings,2016-02-21,NaN,NaN,http://www.walmart.com/ip/LaCrosse-Work-Lite-D...,NaN,2,NaN
2,CA-2016-136231,DM-13015,Second Class,VEN04,delivered,19-01-2018 08:45,2018-01-19 08:58,2018-01-24 23:13,2018-01-29 13:38,2018-02-09,...,Black,Furniture,Furnishings,2016-02-21,NaN,NaN,http://www.walmart.com/ip/LaCrosse-Work-Lite-D...,NaN,2,NaN
3,CA-2016-135776,EH-13765,Standard Class,VEN02,delivered,13-02-2018 17:53,2018-02-13 18:10,2018-02-15 20:52,2018-03-09 23:32,2018-03-12,...,Black,Furniture,Furnishings,2016-02-21,NaN,NaN,http://www.walmart.com/ip/LaCrosse-Work-Lite-D...,NaN,2,NaN
4,CA-2017-110625,JB-16045,Standard Class,VEN05,delivered,10-05-2018 08:41,2018-05-11 03:10,2018-05-16 14:39,2018-05-21 16:11,2018-05-25,...,Black,Furniture,Furnishings,2016-02-21,NaN,NaN,http://www.walmart.com/ip/LaCrosse-Work-Lite-D...,NaN,2,NaN

### TOTAL COUNT OF PRODUCT & SALES OF EACH CATEGORY & SUBCATEGORY

In [38]:
pt = pd.merge(products, transactions, how='inner', on='product_id')
pt.head()

,product_id,product_name,colors,category,sub_category,date_added,manufacturer,sizes,upc,weight,product_photos_qty,Unnamed: 11,id,order_id,sales_amt,qty,discount,profit_amt
0,FUR-BO-10000330,"Sauder Camden County Barrister Bookcase, Plank...",Blue,Furniture,Bookcases,2016-03-30,NaN,NaN,NaN,NaN,3,NaN,7627,US-2015-159499,411.332,4,0.15,-4.8392
1,FUR-BO-10000330,"Sauder Camden County Barrister Bookcase, Plank...",Blue,Furniture,Bookcases,2016-03-30,NaN,NaN,NaN,NaN,3,NaN,6649,US-2017-124779,411.332,4,0.15,-4.8392
2,FUR-BO-10000330,"Sauder Camden County Barrister Bookcase, Plank...",Blue,Furniture,Bookcases,2016-03-30,NaN,NaN,NaN,NaN,3,NaN,5661,CA-2016-145261,241.960,2,0.00,33.8744
3,FUR-BO-10000362,Sauder Inglewood Library Bookcases,Blue,Furniture,Bookcases,2015-08-17,2(x)ist,NaN,NaN,NaN,6,NaN,7055,CA-2016-165330,359.058,3,0.30,-35.9058
4,FUR-BO-10000362,Sauder Inglewood Library Bookcases,Blue,Furniture,Bookcases,2015-08-17,2(x)ist,NaN,NaN,NaN,6,NaN,1756,CA-2015-135622,290.666,2,0.15,27.3568

In [39]:
pt.groupby('category')['sales_amt'].sum()

category
Furniture          732332.0853
Office Supplies    715933.9670
Technology         795413.4130
Name: sales_amt, dtype: float64